GIT IGNORE/WEBOTS1.png
GIT IGNORE/WEBOTS LIDAR SCAN 1.png
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/What is Best STEP Format.jpg
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/Ultrasonic Sensor Solidworks.jpg
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/Ultrasonic Sensor HC-SRO4.SLDPRT
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/Ultrasonic Sensor HC-SR04 SETUP.jpg
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/Ultrasonic Sensor HC-SR04 Render-01.JPG
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/Ultrasonic Sensor Back.jpg
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/STEP214 Ultrasonic Sensor HC-SRO4.STEP
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/STEP214 Servo Arm for DS3218MG.STEP
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/STEP214 Servo 16x PWM Driver.STEP
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/STEP214 Momentary Switch Red Cap.STEP
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/STEP214 HX1838 IR Receiver.STEP
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/STEP214 DS3218MG MS24 Digital Servo 270.STEP
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/STEP214 DIGITAL SERVO ASSEMBLY.STEP
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/STEP Ultrasonic Sensor HC-SRO4.STEP
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/STEP Servo Arm for DS3218MG.STEP
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/STEP Servo 16x PWM Driver.STEP
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/STEP Momentary Switch Red Cap.STEP
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/STEP HX1838 IR Receiver.STEP
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/STEP DS3218MG MS24 Digital Servo 270.STEP
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/STEP DIGITAL SERVO ASSEMBLY.STEP
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/servo-ds3218mg-1.snapshot.4.zip
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/Servo PWM Driver Title.jpg
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/Servo PWM Driver Solidworks.jpg
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/Servo PWM Driver Render-01.JPG
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/Servo Arm for DS3218MG.SLDPRT
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/Servo 16x PWM Driver.SLDPRT
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/Screw-02 for DS3218MG.SLDPRT
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/Screw-01 for DS3218MG.SLDPRT
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/PCA968 Servo Driver Render-03.JPG
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/PCA968 Servo Driver Render-02.JPG
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/PCA968 Servo Driver Render-01.JPG
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/Momentary Switch Solidworks.jpg
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/Momentary Switch Red Cap.SLDPRT
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/IR Remote Receive Hex Codes Arduino.jpg
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/IGES Ultrasonic Sensor HC-SRO4.IGS
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/IGES Servo Arm for DS3218MG.IGS
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/IGES Servo 16x PWM Driver.IGS
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/IGES Momentary Switch Red Cap.IGS
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/IGES HX1838 IR Receiver.IGS
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/IGES DS3218MG MS24 Digital Servo 270.IGS
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/IGES DIGITAL SERVO ASSEMBLY.IGS
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/HX1838 IR Receiver.SLDPRT
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/HX1838 IR Receiver Render-01.JPG
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/HX1838 IR Receiver Module Wiring.jpg
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/HC-SR04 Arduino Distance in Inches.jpg
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/DS3218MG Servo Render-02.JPG
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/DS3218MG Servo Render-01.JPG
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/SERVO/DIGITAL SERVO ASSEMBLY.SLDASM
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/pre feitos/ESP32/esp32-wroom-32-5.snapshot.1.zip
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/PLATAFORMA LIDAR.SLDPRT
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/design 2/SERVO HORN.SLDPRT
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/design 2/MONTAGEM.SLDASM
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/design 2/MONTAGEM 2.SLDASM
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/design 2/LIDAR PLATAFORM 2.SLDPRT
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/design 2/LD19.step
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/design 2/LD19.SLDPRT
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/design 2/ESP32 wroom 32 v9.step
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/design 2/DS3218MG MS24 Digital Servo 270.SLDPRT
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/design 2/ANEL INTERIOR.SLDPRT
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/design 2/ANEL EXTERIOR.SLDPRT
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/design 1/encaixe.SLDPRT
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/design 1/D500.SLDPRT
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/design 1/BALL JOINT.SLDPRT
GIT IGNORE/SOLID IGNORE/SOLIDWORKS DESIGN FASE/design 1/ASSEMBLY.SLDASM
GIT IGNORE/SOLID IGNORE/SERVO HORN.SLDPRT
GIT IGNORE/SOLID IGNORE/ROBOTLIDARABS/urdf/ROBOTLIDARABS.urdf
GIT IGNORE/SOLID IGNORE/ROBOTLIDARABS/urdf/ROBOTLIDARABS.csv
GIT IGNORE/SOLID IGNORE/ROBOTLIDARABS/package.xml
GIT IGNORE/SOLID IGNORE/ROBOTLIDARABS/meshes/PLATAFORMA.STL
GIT IGNORE/SOLID IGNORE/ROBOTLIDARABS/meshes/ANEL_INTERIOR.STL
GIT IGNORE/SOLID IGNORE/ROBOTLIDARABS/meshes/ANEL_EXTERIOR.STL
GIT IGNORE/SOLID IGNORE/ROBOTLIDARABS/launch/gazebo.launch
GIT IGNORE/SOLID IGNORE/ROBOTLIDARABS/launch/display.launch
GIT IGNORE/SOLID IGNORE/ROBOTLIDARABS/export.log
GIT IGNORE/SOLID IGNORE/ROBOTLIDARABS/config/joint_names_ROBOTLIDARABS.yaml
GIT IGNORE/SOLID IGNORE/ROBOTLIDARABS/CMakeLists.txt
GIT IGNORE/SOLID IGNORE/RobotLidar/urdf/RobotLidar.urdf
GIT IGNORE/SOLID IGNORE/RobotLidar/urdf/RobotLidar.csv
GIT IGNORE/SOLID IGNORE/RobotLidar/package.xml
GIT IGNORE/SOLID IGNORE/RobotLidar/meshes/SERVOZ.STL
GIT IGNORE/SOLID IGNORE/RobotLidar/meshes/SERVOX.STL
GIT IGNORE/SOLID IGNORE/RobotLidar/meshes/PLATAFORMA.STL
GIT IGNORE/SOLID IGNORE/RobotLidar/meshes/LIDAR.STL
GIT IGNORE/SOLID IGNORE/RobotLidar/meshes/base_link.STL
GIT IGNORE/SOLID IGNORE/RobotLidar/meshes/ANELINTERIOR.STL
GIT IGNORE/SOLID IGNORE/RobotLidar/launch/gazebo.launch
GIT IGNORE/SOLID IGNORE/RobotLidar/launch/display.launch
GIT IGNORE/SOLID IGNORE/RobotLidar/export.log
GIT IGNORE/SOLID IGNORE/RobotLidar/config/joint_names_RobotLidar.yaml
GIT IGNORE/SOLID IGNORE/RobotLidar/CMakeLists.txt
GIT IGNORE/SOLID IGNORE/robotlidar.wrl
GIT IGNORE/SOLID IGNORE/MONTAGEM FINAL PART.SLDPRT
GIT IGNORE/SOLID IGNORE/LD19.SLDPRT
GIT IGNORE/SOLID IGNORE/DS3218MG MS24 Digital Servo 270.SLDPRT
GIT IGNORE/PYTHON SCRIPTS ARCHIVE/untitled3.py
GIT IGNORE/PYTHON SCRIPTS ARCHIVE/untitled1.py
GIT IGNORE/PYTHON SCRIPTS ARCHIVE/untitled0.py
GIT IGNORE/gimbal drawing.png
GIT IGNORE/Balljoint drawing.png
WEBOTS/Simulador_Radar/controllers/my_controller/MERDAS/teste_debug.html
WEBOTS/Simulador_Radar/controllers/my_controller/MERDAS/search_result.html
WEBOTS/Simulador_Radar/controllers/my_controller/MERDAS/search.txt
WEBOTS/Simulador_Radar/controllers/my_controller/MERDAS/scaninicial.csv
WEBOTS/Simulador_Radar/controllers/my_controller/MERDAS/scan_otimizado.npy
WEBOTS/Simulador_Radar/controllers/my_controller/MERDAS/scan_final.html
WEBOTS/Simulador_Radar/controllers/my_controller/MERDAS/scan.txt
WEBOTS/Simulador_Radar/controllers/my_controller/MERDAS/meu_scan_3daaaaaaaaaaa.html
WEBOTS/Simulador_Radar/controllers/my_controller/MERDAS/meu_scan_3d_QUATRO SEGUNDOS TOTAIS.html
WEBOTS/Simulador_Radar/controllers/my_controller/MERDAS/meu_scan_3d.html
WEBOTS/Simulador_Radar/controllers/my_controller/MERDAS/meu_scan_3d - Cópia.html
WEBOTS/Simulador_Radar/controllers/my_controller/MERDAS/mapa_referencia.html
WEBOTS/Simulador_Radar/controllers/my_controller/MERDAS/dados_varrimento_final.txt
WEBOTS/Simulador_Radar/controllers/my_controller/MERDAS/CODIGO ATUAL COM OPCAO 1 e 2.txt
WEBOTS/Simulador_Radar/controllers/my_controller/MERDAS/0204code.txt
WEBOTS/Simulador_Radar/controllers/my_controller/__pycache__/kinematics.cpython-314.pyc
WEBOTS/Simulador_Radar/controllers/my_controller/__pycache__/scan.cpython-314.pyc
WEBOTS/Simulador_Radar/controllers/my_controller/__pycache__/search.cpython-314.pyc
WEBOTS/Simulador_Radar/controllers/my_controller/CODIGO ANTIGO/dia 030426/my_controller - Cópia.py
WEBOTS/Simulador_Radar/controllers/my_controller/CODIGO ANTIGO/dia 030426/scan - Cópia.py
WEBOTS/Simulador_Radar/controllers/my_controller/CODIGO ANTIGO/dia 030426/search - Cópia.py
WEBOTS/Simulador_Radar/controllers/my_controller/CODIGO ANTIGO/scan 030426.txt
WEBOTS/Simulador_Radar/controllers/my_controller/CODIGO ANTIGO/scan_otimizado.npy
WEBOTS/Simulador_Radar/controllers/my_controller/CODIGO ANTIGO/search 030426.txt
WEBOTS/robotlidar.wrl
WEBOTS/Simulador_Radar/controllers/my_controller/scan_otimizado_60s_freq00167.npy
WEBOTS/Simulador_Radar/controllers/my_controller/scan_otimizado.npy
*.mp4
